.checkin-date{
    margin-bottom: 10%;
    text-align: center;
}

.checkout-date{
    margin-bottom: 10%;
    text-align: center;
}

.hotel-booking{
    text-align: center;
    padding-bottom: 10%;
}

.next-btn{
    margin-top: 10%;
}